html {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  max-width: 200px;
}

header {
  background-color: #ddd;
}

.medium-grey {
  background-color: #efefef;
}

.white {
  background-color: #fff;
}

.icon {
  left: .3rem;
}

ul {
  background-color: #fff;
}

div table {
  min-width: 45em;
  border-collapse: collapse;
  background-color: #fff;
}
